archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
attrs==18.2.0
backports.zstd @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_backports.zstd_1767045003/work
beautifulsoup4==4.14.3
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761203042365/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1772191422035/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1770137318695/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
cssselect2 @ file:///home/conda/feedstock_root/build_artifacts/cssselect2_1770945477679/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
fonttools==4.62.1
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1763082883332/work
greenlet==3.3.2
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1765026384/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_libmambapy_1767884201/work/libmambapy
Markdown==3.10.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1765733155400/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1762504076140/work
munkres==1.1.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pdfkit==1.0.0
pdflatex==0.1.3
pillow==12.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
playwright==1.58.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1757744740287/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydyf @ file:///home/conda/feedstock_root/build_artifacts/pydyf_1734953323721/work
pyee==13.0.1
pypandoc==1.17
pyphen @ file:///home/conda/feedstock_root/build_artifacts/pyphen_1737393240569/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ruamel.yaml_1766175808/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ruamel.yaml.clib_1766159543/work
setuptools==82.0.0
soupsieve==2.8.3
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tinycss2_1764621508/work
tinyhtml5 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tinyhtml5_1772797679/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1766494826/work
typing_extensions==4.15.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
weasyprint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_weasyprint_1764712210/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
zopfli==0.4.1
zstandard==0.25.0
